version: '3.8'
services:
  # RfR MCP Server 서비스 정의 (Risk Analysis Engine)
  rfr_mcp_server:
    image: "minuk0815/sentinelx:0.0.38" # 버전 태그가 맞는지 반드시 확인
    container_name: "rfr_mcp_server"
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - mcp-network
    restart: always 
  ollama:
    image: "ollama/ollama:latest"
    container_name: "ollama"
    ports:
      - "11434:11434"
    networks:
      - mcp-network

networks:
  mcp-network:
    name: mcp-network
    driver: bridge
